/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* Layout styles */
.title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
  padding-top: 20px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 20px;
}

.card {
  flex: 1;
  margin: 20px;
  padding: 30px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}

.card h2 {
  color: #333;
  font-weight: 600;
}

.card p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.chart-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-container {
  flex: 1;
  margin: 20px;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.chart-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.chart-container canvas {
  display: block;
  margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 760px) {
  .container {
    padding: 10px;
  }

  .card, .chart-container {
    margin: 10px;
    padding: 20px;
  }
}

@media (min-width: 760px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
