/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
}

/* Layout styles */
.title {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
  padding-top: 1.8vh;
  font-weight: 900;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: 20px;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 17px;
  text-align: center;
  background-color: #282828;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow: 0 0 40px rgba(2, 253, 119, 0.727);
  transform: translateY(-8px);
}

.card h2 {
  color: aquamarine;
  font-weight: 450;
}

.card p {
  font-size: 1.3vi;
  text-align: center;
  font-weight: bold;
}

.chart-card {
  display: flex;
  flex-direction: row;
}

.chart-container {
  width: 75%;
  height: auto;
  margin: 10px;
  padding: 20px;
  background-color: #282828;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.chart-container:hover {
  box-shadow: 0 0 40px rgba(166, 26, 247, 0.7);
  transform: translateY(-10px);
}

.chart-container canvas {
  display: block;
  margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 760px) {
  .container {
    height: auto;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 760px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
